img {
    max-width: 100%;
    max-height: 100%;
}
.left {
    width: 600px;
    height: 450px;
    overflow: hidden;
    float: left;
}
.right {
    float: left;
    width: 50%;
}
.succes_msg {
    right: 0;
    bottom: 0;
    right: 0.75rem;
    bottom: 0.75rem;
    position: fixed;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #3B82F6;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 0.75rem;
}
.error-format {
    margin-top: 0.25rem;
    color: #EF4444;
    font-size: 0.75rem;
    line-height: 1rem;
}
.search-bar {
    display: block;
    padding: 1rem;
    padding-left: 2.5rem;
    background-color: #F9FAFB;
    color: #111827;
    font-size: 1rem;
    line-height: 1.25rem;
    width: 65%;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: #D1D5DB;
    margin: 0 auto;
}
.search-svg {
    position: relative;
    color: #6B7280;
    width: 1.25rem;
    height: 1.25rem;
}
.search-wrapper1 {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding-left: 16rem;
    align-items: center;
    pointer-events: none;

}
.search-wrapper {
    position: relative;
}
.search-label {
    color: #111827;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);

}

.entry-input {
    display: block;
    padding: 0.625rem;
    background-color: #F9FAFB;
    color: #111827;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 100%;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: #D1D5DB;
}
.entry-text {
    text-align: left;
    display: block;
    margin-bottom: 0.5rem;
    color: #111827;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
}

.entry-wrapper {
    border-width: 4px;
    border-color: #111827;
    width: 40%;
    margin:0 auto;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
    background-color: #F3F4F6;
}
.grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    padding-top: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
}
.grid > article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.grid > article img {
    max-width: 100%;
}
.text {
    padding: 0 20px 20px;
}
.text > button {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
}
/* https://www.quackit.com/html/html_editors/scratchpad/?example=/css/grid/examples/cards_auto-fill_align-items_stretch */
fieldset {
    position: relative;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    max-width: 54rem;
    max-height: 4rem;
    border-radius: 0.75rem;
}

.fieldset h1 {
    position: absolute;
    top: 0;
    font-size: 18px;
    line-height: 1;
    margin: -9px 0 0 -0.5rem; /* half of font-size up top */
    background: #fff;
    padding: 0 0.5rem;
}
label {
    display: block;
    margin-bottom: 0.5rem;
    color: #374151;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
}
div, h1, h2, a {
    text-align: center;
}
/* CSS */
.button-17 {
   align-items: center;
   appearance: none;
   background-color: #fff;
   border-radius: 24px;
   border-style: none;
   box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
   box-sizing: border-box;
   color: #3c4043;
   cursor: pointer;
   display: inline-flex;
   fill: currentcolor;
   font-family: "Google Sans",Roboto,Arial,sans-serif;
   font-size: 14px;
   font-weight: 500;
   height: 48px;
   justify-content: center;
   letter-spacing: .25px;
   line-height: normal;
   max-width: 100%;
   overflow: visible;
   padding: 2px 20px;
   position: relative;
   text-align: center;
   text-transform: none;
   transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   width: auto;
   will-change: transform,opacity;
   z-index: 0;
}

.button-17:hover {
    background: #F6F9FE;
    color: #174ea6;
}

.button-17:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.button-17:focus {
    outline: none;
    border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
