.fieldset {
    position: relative;
    border: 1px solid #ddd;
    padding: 1rem;
}

.fieldset h1 {
    position: absolute;
    top: 0;
    font-size: 18px;
    line-height: 1;
    margin: -9px 0 0 -0.5rem; /* half of font-size up top */
    background: #fff;
    padding: 0 0.5rem;
}
.div {
    text-align: center;
}
.h2 {
    text-align: center;
}
.a {
    text-align: center;
}
